<h1><%= @conversation.recipient.name %>さんとのDM</h1>
<div class="ui segment">
  <% @messages.includes([:user]).each do |message| %>
    <% if message.body.present? %>
      <div class="item">
        <div class="content">
          <div class="header">
            <strong>
              <% if message.user.icon.present? %>
                <%= link_to image_tag(message.user.icon.url, class: 'rounded-circle mr15', width: '30', height: '30'), profile_path(message.user_id) %>
              <% else %>
                <%= link_to image_tag('guest_user.png', size: '30x30'), profile_path(message.user_id) %>
              <% end %>
              <%= message.user.name %>
            </strong> <a id="send_time"><%= message.message_time %></a>
          </div>
          <div class="list m-2">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %> 
              <% if message.user == current_user %>
                <div class="read_or_notread">
                  <%= message.read ? '既読' : '未読' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_with(model: [@conversation, @message]) do |f| %>
  <div class="message_field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div class="message_field send_button">
    <%= f.submit "メッセージを送る", class:"btn btn-outline-dark" %>
  </div>
  <div class="message_link mb-3 row">
    <div class="col"><%= link_to ' 登録ユーザーの一覧', profiles_path, class:"btn btn-outline-dark bi bi-people w-100"%></div>
    <div class="col"><%= link_to 'DM一覧へ戻る', conversations_path, class:"btn btn-outline-dark w-100" %></div>
  </div>  
<% end %>