<h1>登録ユーザーの一覧</h1>

<%= render 'search_user' %>

<% @profiles.each do |profile| %>
  <p>
    <% if profile.user.icon.present? %>
      <%= link_to image_tag(profile.user.icon.url, size: '50x50'), profile_path(profile) %>
    <% else %>
      <%= link_to image_tag('guest_user.png', size: '50x50'), profile_path(profile) %>
    <% end %>
    <%= profile.user.name %>
  </p>

  <label>住居地</label>
  <%= "-----" if profile.user.profile.prefecture.blank? %>
  <%= profile.user.profile.prefecture %>

  <br>

  <label>所有ドローン</label>
  <% profile.drones.each do |drone| %>
    <%= drone.drone_name %>
  <% end %>

  <br>

  <label>主な生産作物</label>
  <%= "-----" if profile.main_crop.blank? %>
  <%= profile.main_crop %>

  <br>

  <label>自己紹介</label>
  <%= "-----" if profile.self_introduce.blank? %>
  <%= profile.self_introduce %>
<% end %>

<br>
<%= link_to 'みんなの投稿', blogs_path %>