<% if current_user.id == @user.id %>
  <h1>マイページ</h1>
<% else %>
  <h1><%= @user.name %>さんのページ</h1>
<% end %>

<% if @user.icon.present? %>
  <%= image_tag @user.icon.url, size: '100x100' %>
<% else %>
  <%= image_tag 'guest_user.png', size: '100x100' %>
<% end %>
<p><%= @user.name %></p>

<% if current_user.id == @user.id %>
  <%= link_to 'アカウント設定', edit_user_registration_path(current_user) %>
<% end %>

<br>

<label>住居地</label>
<%= "-----" if @profile.prefecture.blank? %>
<%= @profile.prefecture %>

<br>

<label>所有ドローン</label>
<% @drones.each do |drone| %>
  <%= "-----" if drone.drone_name.blank? %>
  <%= drone.drone_name %>
<% end %>

<br>

<label>主な生産作物</label>
<%= "-----" if @profile.main_crop.blank? %>
<%= @profile.main_crop %>

<br>

<label>自己紹介</label>
<%= "-----" if @profile.self_introduce.blank? %>
<%= @profile.self_introduce %>

<% if current_user.id == @user.id %>
<p><%= link_to 'プロフィール設定', edit_profile_path(current_user) %></p>
<% end %>


<p><%= link_to 'みんなの投稿', blogs_path %></p>

<% if current_user.id == @user.id %>
  <%= link_to '自分の投稿一覧', yourself_blog_blogs_path %>
  <p><%= link_to 'お気に入り一覧', favorites_path %></p>
<% else %>
  <%= link_to "#{@profile.user.name}さんの投稿一覧", other_blog_blog_path(@profile.user) %>
<% end %>
