<h1>マイページ</h1>

<% if @user.icon.present? %>
  <%= image_tag @user.icon.url, size: '100x100' %>
<% else %>
  <%= image_tag 'guest_user.png', size: '100x100' %>
<% end %>
<%= @user.name %>
<%= link_to 'アカウント設定', edit_user_registration_path(current_user) %>

<br>

<label>住居地</label>
<%= "-----" if @profile.prefecture.blank? %>
<%= @profile.prefecture %>

<br>

<label>所有ドローン</label>
<%= "-----" if @profile.main_crop.blank? %>
<%= @profile.main_crop %>

<br>

<label>ドローン導入年度</label>
<%= "-----" if @profile.introduce_year.blank? %>
<%= @profile.introduce_year %>

<br>

<label>自己紹介</label>
<%= "-----" if @profile.self_introduce.blank? %>
<%= @profile.self_introduce %>

<p><%= link_to 'プロフィール設定',profile_path(current_user) %></p>

