<% @blogs.each do |blog| %>
  <p>
  <% if blog.user.icon.present? %>
    <%= image_tag blog.user.icon.url, class: 'rounded-circle mr15', width: '40', height: '40' %>
  <% else %>
    <%= image_tag 'guest_user.png', class: 'rounded-circle mr15', width: '40', height: '40' %>
  <% end %>
  <%= blog.user.name %>
  </p>

  <p>
    <% if blog.picture.present? %>
      <%= image_tag blog.picture.to_s, size:'300x200' %>
    <% else %>
      <%= image_tag 'No image.png'%>
    <% end %>
  </p>

  <p>作業実施日 : <%= blog.work_date %></p>

  <p>使用した機体 : 
    <% blog.drones.each do |drone| %>
      <a>■</a><%= drone.drone_name %>
    <% end %> 
  </p>

  <p>剤型 : <%= blog.pesticide_type %></p>

  <p>散布農薬名 : <%= blog.pesticide_name %></p>

  <p>散布対象作物 : <%= blog.crop %></p>

  <p>品種名 : <%= blog.variety %></p>
  

  <p>日記帳</p>
  <%= truncate(blog.content, length: 30) %>

  <div id="favorite_blog_<%= blog.id %>">
    <%= render 'favorites/favorite',  blog: blog %>
  </div>
  
  <p>
    <%= link_to '編集', edit_blog_path(blog) %>
    <%= link_to '詳細', blog_path(blog) %>
    <%= link_to '削除', blog_path(blog), method: :delete, data:{confirm:'本当に削除しても良いですか？'} %>
  </p>
<% end %>