<h1>詳細</h1>

<p>
    <% if @blog.picture.present? %>
      <%= image_tag @blog.picture.to_s, width: '50%', height: '35%' %>
    <% else %>
      <%= image_tag 'No image.png'%>
    <% end %>
  </p>

  <p>作業実施日</p>
  <%= @blog.work_date %>

  <p>使用した機体</p>
  <% @blog.drones.each do |drone| %>
    <a>■</a><%= drone.drone_name %>
  <% end %> 

  <p>剤型</p>
  <%= @blog.pesticide_type %>

  <p>散布農薬名</p>
  <%= @blog.pesticide_name %>

  <p>飛行速度</p>
  <a> 時速
    <% if @blog.flight_speed.present? %>
      <%= @blog.flight_speed %>
    <% else %>
      <%= '----' %>
    <% end %>
    km
  </a>

  <p>インペラ回転数</p>
  <a>
    <% if @blog.rpm.present? %>
      <%= @blog.rpm %>
    <% else %>
      <%= ' ---- ' %>
    <% end %>
    回転
  </a>

  <p>シャッター開度</p>
  <a>
    <% if @blog.shutter_opening.present? %>
      <%= @blog.shutter_opening %>
    <% else %>
      <%= '----' %>
    <% end %>
    %
  </a>

  <p>散布対象作物</p>
  <%= @blog.crop %>

  <p>品種名</p>
  <%= @blog.variety %>

  <p>散布面積</p>
  <a><%= @blog.spray_area %>ha</a>

  <p>日記帳</p>
  <%= @blog.content %>

  <div id="favorite_<%=@blog.id %>">
    <%= render 'favorites/favorite', blog: @blog %>
  </div>

  <p>コメント投稿</p>

  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>

  
  <p>
    <%= link_to 'みんなの投稿', blogs_path %>
    <%= link_to '編集', edit_blog_path(@blog) %>
    <%= link_to '削除', blog_path(@blog), method: :delete, data:{confirm:'本当に削除しても良いですか？'} %>
  </p>