<h2><%= t('.sign_up') %></h2>

<div class="login_form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="mb3">
      <%= f.label :icon, 'icon', class:"form-label" %><br />
      <%= f.file_field :icon, class:"form-control" %>
    </div>
    <div class="mb3">
      <%= f.label :name, class:"form-label" %><br />
      <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名（変更可能）", class:"form-control" %>
    </div>
    <%= f.fields_for :profile do |f| %>
      <div class="mb3">
        <%= f.label :prefecture, class:"form-label" %><br />
        <%= f.select :prefecture, Profile.prefectures.keys, {}, class:"form-control" %>
      </div>
    <% end %>
    <div class="mb3">
      <%= f.label :email, class:"form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:"form-control" %>
    </div>
    <div class="mb3">
      <%= f.label :password, class:"fform-label" %>
      <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class:"form-control" %>
    </div>
    <div class="mb3">
      <%= f.label :password_confirmation, class:"fform-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認用パスワード", class:"form-control" %>
    </div>
  <br>
    <div class="actions">
      <%= f.submit t('.sign_up'), class:"btn btn-outline-dark w-100" %>
    </div>
  <% end %>
  <br>
  <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-dark w-100" %>
</div>
