<ul>
  <% blog.comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <p>
          <% if comment.user.icon.present? %>
            <%= image_tag comment.user.icon.url, class: 'rounded-circle mr15', width: '30', height: '30' %>
          <% else %>
            <%= image_tag 'guest_user.png', class: 'rounded-circle mr15', width: '30', height: '30' %>
          <% end %>
          <%= comment.user.name %> : 
          <%= comment.talk %>
        </p>
        
        <p><%= link_to "コメント削除", blog_comment_path(comment.blog_id, comment.id), method: :delete, remote: true,
                                        data: { confirm: "本当に削除しますか?"} %></p>
      </li>
    <% end %>
  <% end %>
</ul>